<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Website with Captcha</title>
</head>
<body>
    <header>*{
    padding: 0;
    margin: 0;
    font-family: 'Satisfy', cursive;
}
body{
    background-color: aquamarine;
}
header{
    height:60px;
    font-size:40px;
    background-color: green;
    color:greenyellow;
    padding-left: 10px;
}
header p{
    color:rgb(1, 39, 1);
    padding-top:10px;
    font-size: 30px;
}
#first{
    display: block;
}
#first h3{
    font-size: 25px;
    text-align: center;
}
#first .container form{
  height:55vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80vw;
    height:70vh;
    margin:auto;
    background: linear-gradient(0deg,rgb(24, 223, 24),greenyellow);
    border-radius: 10px;
    position: relative;
    top:80px;
}

form{
  margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form h3{
    padding-left:10px;
    padding-right: 10px;
    font-size: 25px;
    color:rgb(1, 39, 1);
    margin-bottom: 30px;
    text-transform: capitalize;
}
form input{
    margin:10px;
    width:60%;
    height:30px;
    border-radius: 10px;
}
.btn{
    width:70px;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    background-color: rgb(1, 39, 1);
    color:greenyellow;
    margin-top: 20px;
    margin:auto;
}
.btn:hover{
    background-color: green;
}
.container img{
    height:70px;
    margin-bottom: 10px;
}
#second{
    display: none;
}
.captch_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.captch_input{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input_field {
    position: relative;
    height: 45px;
    margin-top: 15px;
    width: 100%;
  }
  .captch_box .refresh_button {
    position: absolute;
    top: 50%;
    right: 15vw;
    transform: translateY(-50%);
    background: green;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 4px;
    color: greenyellow;
    cursor: pointer;
  }
  .captcha_box .refresh_button:active {
    transform: translateY(-50%) scale(0.98);
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input_field input,
  .button button {
    height: 100%;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 8px;
  }
  .button button{
    width:200px;
  }
  .input_field input {
    padding: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .captch_box input {
    color: green;
    font-size: 22px;
    pointer-events: none;
  }
  .captch_input input:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  }
  .message {
    font-size: 14px;
    margin: 14px 0;
    color:green;
    display: none;
  }
  .message.active {
    display: block;
  }
  .button button {
    background:green;
    color: greenyellow;
    cursor: pointer;
    user-select: none;
  }
  .button button:active {
    transform: scale(0.99);
  }
  .button.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  #third{
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;
  }
  @media screen and (max-width:715px){
    header p{
        font-size: 21px;
    }
  }

@media screen and (max-width:440px){
    header{
        height:35px;
    }
    header h3{
        font-size:30px;
    }
    header p{
        font-size: 21px;
    }
    form input{
        width:90%;
    }
}
@media screen and (max-width:380px){
    .captch_box input-txt{
        font-size: 15px;
    }
}
@media screen and (max-width:287px){
    .captch_box input{
        font-size: 20px;
    }
    header{
        height:30px;
    }
    header h3{
        font-size:20px;
    }
    header p{
        font-size: 15px;
    }
    input{
        width:95%;
    }
    .captch_box .refresh_button{
        right:20px;
    }
}
        <h3>CLEANSQUAD<i class="fa fa-leaf" aria-hidden="true"></i>
        </h3>
        <p>Do join us to unite the countrymen to keep the country clean...</p>
    </header>
    <div id="first">
    <div class="container">
        <form>
            <img src="tree.png" alt="">
            <h3>Enter your Name and valid Email ID to join our cleaning campaign all over the country</h3>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
        </form>
        <button class="btn">Next</button>
    </div>
</div>
<div id="second">
    <div class="container">
        <img src="tree.png" alt="">
        <div class="input_field captch_box">
            <input type="text" value="" disabled />
            <button class="refresh_button">
              <i class="fa-solid fa-rotate-right"></i>
            </button>
        </div>
        <div class="input_field captch_input">
            <input type="text" placeholder="Enter captcha" />
        </div>
        <div class="message">Entered captcha is correct</div>
        <div class="input_field button disabled">
            <button>Submit Captcha</button>
        </div>
        </div>
    </div>
</div>
<div id="third">
    <div class="container">
    <h1>Thank you for your response</h1>
</div>
</div>
<script src="script.js"></script>
</body>
</html>
